@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");

.homePageTotal {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(36, 64, 88, 255);
  padding-bottom: 4em;
}
.foodTotalBack {
  position: relative;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../../Image/HomePageImage/BackgroundHome.jpg);
  background-size: cover;
  background-position: center;
  width: 96%;
  height: 800px;
}
.moreBackgroundColor {
  position: absolute;
  -content: center;
  background: linear-gradient(
    90deg,
    rgba(22, 47, 68, 1),
    rgba(22, 47, 68, 0.6),
    rgba(22, 47, 68, 0.04)
  );
  top: 0;
  left: 0;
  z-index: 0;
  width: 97%;
  height: 800px;
}
.foodLeftBack {
  position: absolute;
  left: -2.1%;
  background-color: rgba(17, 36, 51, 255);
  width: 18%;
  height: 800px;
  z-index: 1;
}

.yellowRight {
  position: absolute;
  right: -2.1%;
  top: 0;
  background-color: rgb(251, 206, 0, 255);
  width: 30%;
  height: 700px;
}

.PhotoFoodRightDiv {
  position: absolute;
  background-image: url(../../Image/HomePageImage/Food01.jpg);
  background-size: cover;
  background-position: center;
  height: 700px;
  top: 70px;
  right: 3%;
  width: 40%;
}
.yellowLeftTop {
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 2em;
  padding-left: 10px;
  width: 15%;
  height: 70px;
  background-color: rgb(251, 206, 0, 255);
  bottom: 70px;
  border-bottom: solid white 3px;
  right: 35%;
  cursor: pointer;
}
.yellowLeftDown {
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 2em;
  padding-left: 10px;
  width: 15%;
  height: 70px;
  background-color: rgb(251, 206, 0, 255);
  bottom: 0;
  right: 35%;
  cursor: pointer;
}

.PhotoFoodLeft {
  position: absolute;
  width: auto;
  z-index: 2;
}
.btnPlay {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  padding-left: 4px;
  position: absolute;
  width: 85px;
  height: 85px;
  right: 40%;
  top: 160px;
  border: solid 4px yellow;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
}

.btnPlay:hover {
  cursor: pointer;
}
.PhotoTwitter {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 15px;
  bottom: 10px;
  z-index: 2;
  cursor: pointer;
}

.PhotoFaceBook {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 15px;
  bottom: 70px;
  z-index: 2;
  cursor: pointer;
}

.titleOfHomePage {
  text-align: start;
  text-decoration: underline yellow 3px;
  top: 80px;
  left: 11%;
  color: white;
  position: absolute;
  font-size: 6.5em;
  font-family: "Mate SC", serif;
  z-index: 2;
}
.createBy {
  z-index: 2;
  text-align: start;
  top: 5px;
  left: 2%;
  color: white;
  position: absolute;
  font-size: 1.2em;
  font-family: serif;
}

.createByDot {
  z-index: 2;
  text-align: start;
  top: -30px;
  left: 0;
  color: yellow;
  position: absolute;
  font-size: 3em;
}
.spanOfHomePage {
  z-index: 2;
  text-align: start;
  bottom: 250px;
  left: 18%;
  color: white;
  position: absolute;
  font-size: 1.4em;
  font-family: "Mate SC", serif;
}

.PhotoLink {
  position: absolute;
  top: 5px;
  right: 20%;
  cursor: pointer;
}
.PhotoSearch {
  position: absolute;

  right: 12.5%;
  cursor: pointer;
}
.PhotoBar {
  position: absolute;
  height: auto;
  cursor: pointer;
}

@media (min-width: 0) and (max-width: 360px) {
  .homePageTotal {
    margin-bottom: 0;
  }
  .foodTotalBack {
    width: 96%;
    height: 900px;
  }
  .moreBackgroundColor {
    background: linear-gradient(
      90deg,
      rgba(22, 47, 68, 1),
      rgba(22, 47, 68, 0.01),
      rgba(22, 47, 68, 0)
    );
    z-index: 0;
    width: 97%;
    height: 900px;
  }
  .foodLeftBack {
    width: 40%;
    height: 900px;
    z-index: 1;
  }

  .yellowRight {
    right: -2.1%;
    top: 0;
    width: 25%;
    height: 250px;
  }

  .PhotoFoodRightDiv {
    background-position: center;
    height: 350px;
    width: 80%;
    right: unset;
    z-index: 4;
    top: 400px;
  }
  .yellowLeftTop {
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 2em;
    padding-left: 10px;
    width: 25%;
    height: 100px;
    top: 250px;
    border-bottom: solid white 3px;
    border-top: solid white 3px;
    right: -2.1%;
  }
  .yellowLeftDown {
    display: flex;
    position: absolute;
    align-items: flex-start;
    justify-content: start;
    padding-top: 10px;
    font-size: 2em;
    padding-left: 10px;
    width: 25%;
    height: 550px;
    top: 350px;
    border-top: solid white 3px;
    right: -2.1%;
  }

  .PhotoFoodLeft {
    width: 0;
    height: 0;
    bottom: 0;
    left: 10%;
    opacity: 0%;
    z-index: -2;
  }
  .btnPlay {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    padding-left: 4px;
    position: absolute;
    width: 85px;
    height: 85px;
    right: unset;
    z-index: 4;
    top: unset;
    bottom: 280px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.4);
  }

  .btnPlay:hover {
    cursor: pointer;
  }
  .PhotoTwitter {
    width: 50px;
    height: 50px;
    left: 3%;
    bottom: 15px;
    z-index: 2;
  }

  .PhotoFaceBook {
    width: 50px;
    height: 50px;
    left: 20%;
    bottom: 15px;
    z-index: 2;
  }

  .titleOfHomePage {
    text-align: start;
    text-decoration: underline yellow 3px;
    top: 100px;
    left: 3%;
    color: white;
    position: absolute;
    font-size: 3em;
    font-family: "Mate SC", serif;
    z-index: 2;
  }
  .createBy {
    top: 10px;
    left: 2%;
    font-size: 0.8em;
    font-family: serif;
  }

  .createByDot {
    z-index: 2;
    top: -15px;
    left: -2%;
    color: yellow;
    position: absolute;
    font-size: 2em;
  }
  .spanOfHomePage {
    z-index: 2;
    bottom: 530px;
    left: 4%;
    color: white;
    position: absolute;
    font-size: 0.75em;
  }

  .PhotoLink {
    width: 50px;
    height: 50px;
    top: 180px;
    right: 0;
  }
  .PhotoSearch {
    width: 30px;
    height: 30px;
    top: 100px;
    right: 6%;
  }
  .PhotoBar {
    width: 30px;
    height: auto;
    top: 30px;
    right: 6%;
  }
}

@media (min-width: 360px) and (max-width: 526px) {
  .homePageTotal {
    margin-bottom: 0;
  }
  .foodTotalBack {
    width: 96%;
    height: 900px;
  }
  .moreBackgroundColor {
    background: linear-gradient(
      90deg,
      rgba(22, 47, 68, 1),
      rgba(22, 47, 68, 0.01),
      rgba(22, 47, 68, 0)
    );
    z-index: 0;
    width: 97%;
    height: 900px;
  }
  .foodLeftBack {
    width: 40%;
    height: 900px;
    z-index: 1;
  }

  .yellowRight {
    right: -2.1%;
    top: 0;
    width: 25%;
    height: 250px;
  }

  .PhotoFoodRightDiv {
    background-position: center;
    height: 350px;
    width: 90%;
    z-index: 4;
    top: 400px;
  }
  .yellowLeftTop {
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 2em;
    padding-left: 10px;
    width: 25%;
    height: 100px;
    top: 250px;
    border-bottom: solid white 3px;
    border-top: solid white 3px;
    right: -2.1%;
  }
  .yellowLeftDown {
    display: flex;
    position: absolute;
    align-items: flex-start;
    justify-content: start;
    padding-top: 10px;
    font-size: 2em;
    padding-left: 10px;
    width: 25%;
    height: 550px;
    top: 350px;
    border-top: solid white 3px;
    right: -2.1%;
  }

  .PhotoFoodLeft {
    width: 0;
    height: 0;
    bottom: 0;
    left: 10%;
    opacity: 0%;
    z-index: -2;
  }
  .btnPlay {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    padding-left: 4px;
    position: absolute;
    width: 85px;
    height: 85px;
    right: 40%;
    z-index: 4;
    top: unset;
    bottom: 280px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.4);
  }

  .btnPlay:hover {
    cursor: pointer;
  }
  .PhotoTwitter {
    width: 50px;
    height: 50px;
    left: 3%;
    bottom: 15px;
    z-index: 2;
  }

  .PhotoFaceBook {
    width: 50px;
    height: 50px;
    left: 20%;
    bottom: 15px;
    z-index: 2;
  }

  .titleOfHomePage {
    text-align: start;
    text-decoration: underline yellow 3px;
    top: 100px;
    left: 3%;
    color: white;
    position: absolute;
    font-size: 4em;
    font-family: "Mate SC", serif;
    z-index: 2;
  }
  .createBy {
    top: 10px;
    left: 2%;
    font-size: 0.8em;
    font-family: serif;
  }

  .createByDot {
    z-index: 2;
    top: -15px;
    left: -2%;
    color: yellow;
    position: absolute;
    font-size: 2em;
  }
  .spanOfHomePage {
    z-index: 2;
    bottom: 530px;
    left: 4%;
    color: white;
    position: absolute;
    font-size: 1em;
  }

  .PhotoLink {
    width: 60px;
    height: 60px;
    top: 180px;
    right: 2%;
  }
  .PhotoSearch {
    width: 40px;
    height: 40px;
    top: 100px;
    right: 6%;
  }
  .PhotoBar {
    width: 40px;
    height: auto;
    top: 30px;
    right: 6%;
  }
}

@media (min-width: 527px) and (max-width: 692px) {
  .homePageTotal {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(36, 64, 88, 255);
    margin-bottom: 0;
  }
  .foodTotalBack {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../../Image/HomePageImage/BackgroundHome.jpg);
    background-size: cover;
    background-position: center;
    width: 96%;
    height: 1080px;
  }
  .moreBackgroundColor {
    position: absolute;
    -content: center;
    background: linear-gradient(
      90deg,
      rgba(22, 47, 68, 1),
      rgba(22, 47, 68, 0.01),
      rgba(22, 47, 68, 0)
    );
    top: 0;
    left: 0;
    z-index: 0;
    width: 97%;
    height: 1080px;
  }
  .foodLeftBack {
    position: absolute;
    left: -2.1%;
    background-color: rgba(17, 36, 51, 255);
    width: 40%;
    height: 1080px;
    z-index: 1;
  }

  .yellowRight {
    position: absolute;
    right: -2.1%;
    top: 0;
    background-color: rgb(251, 206, 0, 255);
    width: 25%;
    height: 350px;
  }

  .PhotoFoodRightDiv {
    position: absolute;
    background-image: url(../../Image/HomePageImage/Food01.jpg);
    background-size: cover;
    background-position: 0 -9em;
    height: 450px;
    width: 80%;
    right: unset;
    top: unset;
    z-index: 4;
    bottom: 12%;
  }
  .yellowLeftTop {
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 2em;
    padding-left: 10px;
    width: 25%;
    height: 100px;
    background-color: rgb(251, 206, 0, 255);
    top: 350px;
    border-bottom: solid white 3px;
    border-top: solid white 3px;
    right: -2.1%;
    cursor: pointer;
  }
  .yellowLeftDown {
    display: flex;
    position: absolute;
    padding-top: 10px;
    font-size: 2em;
    padding-left: 10px;
    width: 25%;
    height: 630px;
    background-color: rgb(251, 206, 0, 255);
    top: 450px;

    border-top: solid white 3px;
    right: -2.1%;
    cursor: pointer;
  }

  .PhotoFoodLeft {
    position: absolute;
    width: auto;
    height: 200px;
    bottom: 0;
    left: 10%;
    opacity: 0%;
    z-index: -2;
  }
  .btnPlay {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    padding-left: 4px;
    position: absolute;
    width: 85px;
    height: 85px;
    right: unset;
    z-index: 4;
    top: unset;
    bottom: 300px;
    border: solid 5px yellow;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.4);
  }

  .btnPlay:hover {
    cursor: pointer;
  }
  .PhotoTwitter {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 4%;
    bottom: 15px;
    z-index: 2;
    cursor: pointer;
  }

  .PhotoFaceBook {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 20%;
    bottom: 15px;
    z-index: 2;
    cursor: pointer;
  }

  .titleOfHomePage {
    text-align: start;
    text-decoration: underline yellow 3px;
    top: 80px;
    left: 3%;
    color: white;
    position: absolute;
    font-size: 5.5em;
    font-family: "Mate SC", serif;
    z-index: 2;
  }
  .createBy {
    z-index: 2;
    text-align: start;
    top: 5px;
    left: 2%;
    color: white;
    position: absolute;
    font-size: 1.2em;
    font-family: serif;
  }

  .createByDot {
    z-index: 2;
    text-align: start;
    top: -30px;
    left: 0;
    color: yellow;
    position: absolute;
    font-size: 3em;
  }
  .spanOfHomePage {
    z-index: 2;
    text-align: start;
    bottom: 630px;
    left: 4%;
    color: white;
    position: absolute;
    font-size: 1.4em;
    font-family: "Mate SC", serif;
  }

  .PhotoLink {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 250px;
    right: 2%;
    cursor: pointer;
  }
  .PhotoSearch {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 140px;
    right: 6%;
    cursor: pointer;
  }
  .PhotoBar {
    position: absolute;
    width: 55px;
    height: auto;
    top: 30px;
    right: 6%;
    cursor: pointer;
  }
}

@media (min-width: 693px) and (max-width: 852px) {
  .homePageTotal {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(36, 64, 88, 255);
    margin-bottom: 0;
  }
  .foodTotalBack {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../../Image/HomePageImage/BackgroundHome.jpg);
    background-size: cover;
    background-position: center;
    width: 96%;
    height: 1080px;
  }
  .moreBackgroundColor {
    position: absolute;
    -content: center;
    background: linear-gradient(
      90deg,
      rgba(22, 47, 68, 1),
      rgba(22, 47, 68, 0.01),
      rgba(22, 47, 68, 0)
    );
    top: 0;
    left: 0;
    z-index: 0;
    width: 97%;
    height: 1080px;
  }
  .foodLeftBack {
    position: absolute;
    left: -2.1%;
    background-color: rgba(17, 36, 51, 255);
    width: 40%;
    height: 1080px;
    z-index: 1;
  }

  .yellowRight {
    position: absolute;
    right: -2.1%;
    top: 0;
    background-color: rgb(251, 206, 0, 255);
    width: 20%;
    height: 350px;
  }

  .PhotoFoodRightDiv {
    position: absolute;
    background-image: url(../../Image/HomePageImage/Food01.jpg);
    background-size: cover;
    background-position: 0 -10em;
    top: unset;
    height: 450px;
    width: 70%;
    right: unset;
    top: unset;
    z-index: 4;
    bottom: 12%;
  }
  .yellowLeftTop {
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 2em;
    padding-left: 10px;
    width: 20%;
    height: 100px;
    background-color: rgb(251, 206, 0, 255);
    top: 350px;
    border-bottom: solid white 3px;
    border-top: solid white 3px;
    right: -2.1%;
    cursor: pointer;
  }
  .yellowLeftDown {
    display: flex;
    position: absolute;
    padding-top: 10px;
    font-size: 2em;
    padding-left: 10px;
    width: 20%;
    height: 630px;
    background-color: rgb(251, 206, 0, 255);
    top: 450px;

    border-top: solid white 3px;
    right: -2.1%;
    cursor: pointer;
  }

  .PhotoFoodLeft {
    position: absolute;
    width: auto;
    height: 200px;
    bottom: 0;
    left: 10%;
    opacity: 0%;
    z-index: -2;
  }
  .btnPlay {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    padding-left: 4px;
    position: absolute;
    width: 85px;
    height: 85px;
    right: unset;
    top: unset;
    z-index: 4;
    bottom: 300px;
    border: solid 5px yellow;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.4);
  }

  .btnPlay:hover {
    cursor: pointer;
  }
  .PhotoTwitter {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 5%;
    bottom: 15px;
    z-index: 2;
    cursor: pointer;
  }

  .PhotoFaceBook {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 15%;
    bottom: 15px;
    z-index: 2;
    cursor: pointer;
  }

  .titleOfHomePage {
    text-align: start;
    text-decoration: underline yellow 3px;
    top: 80px;
    left: 15%;
    color: white;
    position: absolute;
    font-size: 5.5em;
    font-family: "Mate SC", serif;
    z-index: 2;
  }
  .createBy {
    z-index: 2;
    text-align: start;
    top: 5px;
    left: 2%;
    color: white;
    position: absolute;
    font-size: 1.2em;
    font-family: serif;
  }

  .createByDot {
    z-index: 2;
    text-align: start;
    top: -30px;
    left: 0;
    color: yellow;
    position: absolute;
    font-size: 3em;
  }
  .spanOfHomePage {
    z-index: 2;
    text-align: start;
    bottom: 630px;
    left: 17%;
    color: white;
    position: absolute;
    font-size: 1.4em;
    font-family: "Mate SC", serif;
  }

  .PhotoLink {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 250px;
    right: 3%;
    cursor: pointer;
  }
  .PhotoSearch {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 140px;
    right: 6%;
    cursor: pointer;
  }
  .PhotoBar {
    position: absolute;
    width: 55px;
    height: auto;
    top: 30px;
    right: 6%;
    cursor: pointer;
  }
}

@media (min-width: 853px) and (max-width: 1023px) {
  .homePageTotal {
    padding-bottom: 4em;
  }

  .PhotoFoodRightDiv {
    background-position: center;
  }

  .PhotoFoodLeft {
    position: absolute;
    width: auto;
    height: 150px;
    bottom: -50px;

    left: 10%;
    z-index: 2;
  }
  .btnPlay {
    font-size: 2em;
    padding-left: 4px;
    width: 85px;
    height: 85px;
    right: 40%;
    top: 160px;
  }

  .PhotoTwitter {
    width: 50px;
    height: 50px;
    left: 15px;
    bottom: 10px;
    z-index: 2;
  }

  .PhotoFaceBook {
    width: 50px;
    height: 50px;
    left: 15px;
    bottom: 70px;
    z-index: 2;
  }

  .titleOfHomePage {
    top: 100px;
    left: 11%;
    font-size: 5.5em;
    z-index: 2;
  }
  .createBy {
    top: 5px;
    left: 2%;
    font-size: 1.2em;
  }

  .createByDot {
    top: -30px;
    left: 0;
    font-size: 3em;
  }
  .spanOfHomePage {
    z-index: 2;
    bottom: 250px;
    left: 18%;
    font-size: 1.1em;
  }

  .PhotoLink {
    width: 55px;
    height: 55px;
    top: 5px;
    right: 20%;
  }
  .PhotoSearch {
    width: 35px;
    height: 35px;
    top: 15px;
    right: 12.5%;
  }
  .PhotoBar {
    width: 55px;
    height: auto;
    top: 30px;
    right: 2%;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .homePageTotal {
    padding-bottom: 4em;
  }

  .PhotoFoodRightDiv {
    background-position: center;
  }

  .PhotoFoodLeft {
    position: absolute;
    width: auto;
    height: 200px;
    bottom: -50px;

    left: 10%;
    z-index: 2;
  }
  .btnPlay {
    font-size: 2em;
    padding-left: 4px;
    width: 85px;
    height: 85px;
    right: 40%;
    top: 160px;
  }

  .PhotoTwitter {
    width: 50px;
    height: 50px;
    left: 15px;
    bottom: 10px;
    z-index: 2;
  }

  .PhotoFaceBook {
    width: 50px;
    height: 50px;
    left: 15px;
    bottom: 70px;
    z-index: 2;
  }

  .titleOfHomePage {
    top: 80px;
    left: 11%;
    font-size: 6.5em;
    z-index: 2;
  }
  .createBy {
    top: 5px;
    left: 2%;
    font-size: 1.2em;
  }

  .createByDot {
    top: -30px;
    left: 0;
    font-size: 3em;
  }
  .spanOfHomePage {
    z-index: 2;
    bottom: 250px;
    left: 18%;
    font-size: 1.4em;
  }

  .PhotoLink {
    width: 55px;
    height: 55px;
    top: 5px;
    right: 20%;
  }
  .PhotoSearch {
    width: 35px;
    height: 35px;
    top: 15px;
    right: 12.5%;
  }
  .PhotoBar {
    width: 55px;
    height: auto;
    top: 30px;
    right: 2%;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .homePageTotal {
    padding-bottom: 4em;
  }

  .PhotoFoodRightDiv {
    background-position: center;
  }
  .PhotoFoodLeft {
    height: 200px;
    bottom: -50px;

    left: 10%;
    z-index: 2;
  }
  .btnPlay {
    font-size: 2em;
    padding-left: 4px;
    width: 85px;
    height: 85px;
    right: 40%;
    top: 160px;
  }

  .btnPlay:hover {
    cursor: pointer;
  }
  .PhotoTwitter {
    width: 50px;
    height: 50px;
    left: 15px;
    bottom: 10px;
    z-index: 2;
  }

  .PhotoFaceBook {
    width: 50px;
    height: 50px;
    left: 15px;
    bottom: 70px;
    z-index: 2;
  }

  .titleOfHomePage {
    text-align: start;
    top: 80px;
    left: 11%;
    color: white;
    font-size: 8.5em;
    z-index: 2;
  }
  .createBy {
    z-index: 2;
    top: 5px;
    left: 2%;
    font-size: 1.2em;
  }

  .createByDot {
    z-index: 2;
    top: -30px;
    left: 0;
    font-size: 3em;
  }
  .spanOfHomePage {
    z-index: 2;
    bottom: 200px;
    left: 18%;
    font-size: 1.6em;
  }

  .PhotoLink {
    width: 55px;
    height: 55px;
    top: 5px;
    right: 20%;
  }
  .PhotoSearch {
    width: 35px;
    height: 35px;
    top: 15px;
    right: 12.5%;
  }
  .PhotoBar {
    width: 55px;
    height: auto;
    top: 30px;
    right: 2%;
  }
}

@media (min-width: 1440px) and (max-width: 1599px) {
  .homePageTotal {
    padding-bottom: 4em;
  }

  .PhotoFoodRightDiv {
    background-position: 0 80%;
  }
  .PhotoFoodLeft {
    height: 200px;
    bottom: -50px;

    left: 10%;
    z-index: 2;
  }
  .btnPlay {
    font-size: 2em;
    padding-left: 4px;
    width: 95px;
    height: 95px;
    right: 40%;
    top: 160px;
  }

  .btnPlay:hover {
    cursor: pointer;
  }
  .PhotoTwitter {
    width: 50px;
    height: 50px;
    left: 15px;
    bottom: 10px;
    z-index: 2;
  }

  .PhotoFaceBook {
    width: 50px;
    height: 50px;
    left: 15px;
    bottom: 70px;
  }

  .titleOfHomePage {
    top: 50px;
    left: 11%;
    position: absolute;
    font-size: 9.5em;
  }
  .createBy {
    z-index: 2;
    top: 5px;
    left: 2%;
    font-size: 1.2em;
  }

  .createByDot {
    z-index: 2;
    top: -30px;
    left: 0;
    font-size: 3em;
  }
  .spanOfHomePage {
    z-index: 2;
    bottom: 180px;
    left: 18%;
    font-size: 2em;
  }

  .PhotoLink {
    width: 55px;
    height: 55px;
    top: 5px;
    right: 20%;
  }
  .PhotoSearch {
    width: 35px;
    height: 35px;
    top: 15px;
    right: 12.5%;
  }
  .PhotoBar {
    width: 55px;
    height: auto;
    top: 30px;
    right: 2%;
  }
}

@media (min-width: 1600px) and (max-width: 1919px) {
  .homePageTotal {
    padding-bottom: 4em;
  }

  .yellowRight {
    position: absolute;
    right: -2.1%;
    top: 0;
    background-color: rgb(251, 206, 0, 255);
    width: 30%;
    height: 700px;
  }

  .PhotoFoodRightDiv {
    background-position: 0 70%;
  }

  .PhotoFoodLeft {
    width: auto;
    height: 200px;
    bottom: -50px;
    left: 10%;
    z-index: 2;
  }
  .btnPlay {
    font-size: 2em;
    padding-left: 4px;
    width: 105px;
    height: 105px;
    right: 40%;
    top: 160px;
  }

  .PhotoTwitter {
    width: 50px;
    height: 50px;
    left: 15px;
    bottom: 10px;
    z-index: 2;
  }

  .PhotoFaceBook {
    width: 50px;
    height: 50px;
    left: 15px;
    bottom: 70px;
    z-index: 2;
  }

  .titleOfHomePage {
    top: 30px;
    left: 11%;
    color: white;
    position: absolute;
    font-size: 10em;
    z-index: 2;
  }
  .createBy {
    z-index: 2;
    top: 5px;
    left: 2%;
    color: white;
    position: absolute;
    font-size: 1.2em;
    font-family: serif;
  }

  .createByDot {
    z-index: 2;
    top: -30px;
    left: 0;
    font-size: 3em;
  }
  .spanOfHomePage {
    z-index: 2;
    bottom: 180px;
    left: 18%;
    font-size: 2em;
  }

  .PhotoLink {
    width: 55px;
    height: 55px;
    top: 5px;
    right: 20%;
  }
  .PhotoSearch {
    width: 35px;
    height: 35px;
    top: 15px;
    right: 12.5%;
  }
  .PhotoBar {
    width: 55px;
    top: 30px;
    right: 2%;
  }
}

@media (min-width: 1920px) {
  .homePageTotal {
    padding-bottom: 7em;
  }

  .PhotoFoodRightDiv {
    background-position: 0 80%;
  }

  .PhotoFoodLeft {
    height: 250px;
    bottom: -100px;
    left: 14%;
  }
  .btnPlay {
    width: 110px;
    height: 110px;
    right: 40%;
    top: 160px;
  }

  .PhotoTwitter {
    width: 70px;
    height: 70px;
    left: 15px;
    bottom: 25px;
  }

  .PhotoFaceBook {
    width: 70px;
    height: 70px;
    left: 15px;
    bottom: 100px;
  }

  .titleOfHomePage {
    top: 20px;
    left: 11%;
    font-size: 10.5em;
    z-index: 2;
  }
  .createBy {
    z-index: 2;
    top: 5px;
    left: 2%;
    font-size: 1.2em;
  }

  .createByDot {
    z-index: 2;
    top: -30px;
    left: 0;
    font-size: 3em;
  }
  .spanOfHomePage {
    z-index: 2;
    bottom: 160px;
    left: 20%;
    font-size: 2.2em;
    font-family: "Mate SC", serif;
  }

  .PhotoLink {
    width: 55px;
    height: 55px;
    top: 5px;
    right: 20%;
  }
  .PhotoSearch {
    width: 35px;
    height: 35px;
    top: 15px;
    right: 12.5%;
  }
  .PhotoBar {
    width: 55px;
    height: auto;
    top: 30px;
    right: 2%;
  }
}
