.span {
  color: red !important;
  display: inline;
  float: none;
}
.select {
  border: solid #6f6d6d7c 2px;
  border-radius: 5px;
  margin-top: 1em;
  width: 180px;
  height: 30px;
}
@media (max-width: 500px) {
  .select {
    margin-top: 1em;
    width: 150px;
    height: 25px;
  }
}
@media (min-width: 501px) and (max-width: 800px) {
  .select {
    margin-top: 1em;
    width: 180px;
    height: 25px;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .select {
    margin-top: 1em;
    width: 180px;
    height: 25px;
  }
}

@media (min-width: 801px) and (max-width: 1023px) {
  .select {
    margin-top: 1em;
    width: 180px;
    height: 25px;
  }
}
@media (min-width: 1024px) {
  .select {
    margin-top: 1em;
    width: 180px;
    height: 30px;
  }
}
